body{
	font-family: "Century Gothic";
	font-size:14px;
}
.menu{
	/*margin-bottom:25px;*/
}
.menu a{
	color:#fff;
}
.navbar-nav {
    float: left;
    margin-left: 105px;
}
.navbar-header {
}
.navbar-header img{
	background:#fff;
	height:105px;
}
.menu .top-menu{
	background-color:#7A4A88;
	border-bottom:2px solid #FC0;  
}
.menu .top-menu .navbar-header{
	height: 60px;
	padding: 5px 0px;
    float: left;
	/*margin-left: 80px;*/
}
.menu .top-menu .navbar-brand{
	height:auto;
	color:#fff;
	font-size:25px;
	line-height:1;
	padding: 0px 5px;
}
.menu .bottom-menu{
	background-color:#9B7CB8;
}
.nav>li{
	border-right:1px solid #7A4A88;
}
.nav>li>a{
	border-bottom:4px solid transparent;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #7A4A88;
    border-bottom:4px solid #7A4A88;
}
.nav>li.active>a{
	color:#000;
    text-decoration: none; 
	background-image: linear-gradient(#D5D9DD, #fff);
	border-bottom:4px solid #7A4A88;
}
.nav>li>a:focus{
	background-color: transparent;
	border-bottom:4px solid transparent;
}
.nav>li>a:hover, .nav>li.active>a:hover  {
    text-decoration: none; 
	background-color: #7A4A88;
	border-bottom:4px solid #7A4A88;
}
.navbar-nav>li>.dropdown-menu {
	background-color: #7A4A88;
	color:#fff;
}
.dropdown-menu>li>a {
	border:1px solid #7A4A88;
    display: block;
    padding: 8px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
}
legend {
    margin-top: 10px; 
    margin-bottom: 0px; 
}
#delform{
    margin-bottom: 0px;
}
.navbar-toggle{
	color:#fff;
}
.table{
    font-size:14px;
}
.table > thead > tr > th{
    padding:4px;
}
.search{
    margin:10px 0px;
}
.mtb-10{
    margin:10px 0px;
}
.mt-3{
    margin-top:10px;
}
.mt-2{
    margin-top:5px;
}
.my-0{
    margin:5px;
}
.bg-table{
	background-image: linear-gradient(#ccc, #efefef);
	color:#000;
}
.bg-primary{
	background-color: #337ab7;
	color:#fff;
}
.breadcrumb.bg-primary a{
	color:#fff;
	font-weight:bold;
}
.login{
}
.form-login{
	width:500px;
	margin:auto;
	margin-top:70px;
}
.login-form {
    width: 500px;
    margin: 0 auto;
    position: relative;
    background: #f3f3f3;  
    background-image: url(../img/login.png);
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.login-form .header {
    padding: 40px 30px 30px 30px;
}
.login-form .header h1 {
    font-family: "Century Gothic", serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 34px;
    color: #414848;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
    margin-bottom: 10px;
}
.login-form .header span {
    font-size: 11px;
    line-height: 16px;
    color: #678889;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
    font-family: "Century Gothic", serif;
}
.login-form .content {
    padding: 0 30px 25px 30px;
}
.login-form .content .input {
    width: 270px;
    padding: 15px 25px;
    font-family: "HelveticaNeue-Light", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9d9e9e;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}
.login-form .content .input:hover {
    background: #dfe9ec;
    color: #414848;
}

.login-form .content .input:focus {
    background: #dfe9ec;
    color: #414848;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}
.login-form .content .password, .login-form .content .pass-icon {
    margin-top: 25px;
}
.login-form .footer {
    padding: 25px 30px 40px 30px;
    overflow: auto;
    font-family: "Century Gothic", serif;
    background: #d4dedf;
    border-top: 1px solid #fff;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}
.login-form .footer .button:hover {
    background: #3f9db8;
    border: 1px solid rgba(256,256,256,0.75);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}
.login-form .footer .button {
    float: left;
    padding: 11px 25px;
    font-family: "Century Gothic", serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
    background: #56c2e1;
    border: 1px solid #46b3d3;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.75);
}
fieldset {
    min-width: default;
     padding: 10px; 
     margin: 0; 
     border: 1px solid #c0c0c0
}
legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    width:initial;
}
@media (max-width: 768px){
	.menu nav{
			padding:0px 5px;
	}
	.navbar-nav {
		margin-left:0px;
	}
	.nav>li{
		border-right:0px solid #7A4A88;
	}
	.navbar-collapse {
		padding:0px;
	}
	.nav.navbar-nav{
		width:100%;
	}
	.dropdown-menu>li>a {
		border:0px solid #7A4A88;
	}
	.form-login{
		width:100%;
		margin:auto;
		margin-top:70px;
	}
	.login-form {
	    width: 100%;
	    padding:10px;
	    margin: 0 auto;
	    position: relative;
	    background: #f3f3f3;  
	    background-image: default;
	    background-repeat: no-repeat;
	    background-position: right center;
	    border: 1px solid #fff;
	    border-radius: 5px;
	    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	}
	.login-form .content .input {
 	   width: 100%;
	}
}
.table.table-hover.exam tr{
    cursor:pointer;
} 
.table.exam td, .table.exam th{
    font-size: 10pt ;
    padding:3px;
}
.form-control.input-xs{
    padding:3px;
    height:28;
}
.form-control{
    font-weight: normal;
}
input{
    font-weight: normal;
}
.exam-content form, .exam-content .exam{
    margin:0px;
}